GCP_PROJECT_ID=hospital-healthcare-analysis
GCS_BUCKET_NAME=your-bucket-name-here
BIGQUERY_DATASET=healthcare_data
CMS_HOSPITAL_API_URL=https://data.cms.gov/provider-data/api/1/datastore/query/xubh-q36u/0