GCP_PROJECT_ID=hospital-healthcare-analysis
GCS_BUCKET_NAME=your-bucket-name-here
BIGQUERY_DATASET=healthcare_bronze
CMS_HOSPITAL_API_URL=https://data.cms.gov/provider-data/api/1/datastore/query/xubh-q36u/0CMS_HOSPITAL_READMISSIONS_API_URL=https://data.cms.gov/provider-data/api/1/datastore/query/632h-zaca/0

CMS_HOSPITAL_HCAHPS_API_URL=https://data.cms.gov/provider-data/api/1/datastore/query/dgck-syfz/0

CMS_HOSPITAL_MORTALITY_API_URL=https://data.cms.gov/provider-data/api/1/datastore/query/ynj2-r877/0

CMS_HOSPITAL_TIMELY_EFFECTIVE_CARE_API_URL=https://data.cms.gov/provider-data/api/1/datastore/query/yv7e-xc69/0

CMS_HOSPITAL_HAI_API_URL=https://data.cms.gov/provider-data/api/1/datastore/query/77hc-ibv8/0

CMS_HOSPITAL_OUTPATIENT_IMAGING_API_URL=https://data.cms.gov/provider-data/api/1/datastore/query/wkfw-kthe/0

CMS_HOSPITAL_VBP_API_URL=https://data.cms.gov/provider-data/api/1/datastore/query/ypbt-wvdk/0

CMS_HOSPITAL_HACRP_API_URL=https://data.cms.gov/provider-data/api/1/datastore/query/yq43-i98g/0
